   .selected {
      height: 24px;
      left: 1px;
      line-height: 24px;
      opacity: 0;
      position: absolute;
      top: 0;
      transform: translateY(24px);
      transition-property: opacity, transform;
      will-change: transform;
    }